In [43]:
import pandas as pd
import geonamescache
import numpy as np

In [44]:
df = pd.read_csv('part_1.csv')

In [45]:
df.head()

                                  Headline Country           City
0                 Zika Outbreak Hits Miami     NaN          Miami
1           Could Zika Reach New York City     NaN  New York City
2        First Case of Zika in Miami Beach     NaN    Miami Beach
3   Mystery Virus Spreads in Recife Brazil  Brazil         Recife
4  Dallas man comes down with case of Zika     NaN            NaN

In [46]:
gc = geonamescache.GeonamesCache()

In [47]:
gc.get_cities_by_name('Miami')

[{'4164138': {'geonameid': 4164138,
   'name': 'Miami',
   'latitude': 25.77427,
   'longitude': -80.19366,
   'countrycode': 'US',
   'population': 441003,
   'timezone': 'America/New_York',
   'admin1code': 'FL'}}]

In [48]:
# add lat, long, countrycode
df['lat'] = np.nan
df['long'] = np.nan
df['Country_Code'] = np.nan

In [50]:
for index, row in df.iterrows():
    try:
        city = gc.get_cities_by_name(df.loc[index, 'City'])[0]
        df.loc[index, 'lat'] = city[list(city.keys())[0]]['latitude']
        df.loc[index, 'long'] = city[list(city.keys())[0]]['longitude']
        df.loc[index, 'Country_Code'] = city[list(city.keys())[0]]['countrycode']
    except IndexError:
        continue

In [52]:
df.tail()

,Headline,Country,City,lat,long,Country_Code
645,Rumors about Rabies spreading in Jerusalem hav...,NaN,Jerusalem,31.76904,35.21633,IL
646,More Zika patients reported in Indang,NaN,Indang,14.19528,120.87694,PH
647,Suva authorities confirmed the spread of Rotav...,NaN,Suva,-18.14161,178.44149,FJ
648,More Zika patients reported in Bella Vista,NaN,NaN,NaN,NaN,NaN
649,Zika Outbreak in Wichita Falls,NaN,Wichita Falls,33.91371,-98.49339,US

In [53]:
df.to_csv('part_2.csv', index = False)